<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.dao.mapper.SRoleMapper" >
  <resultMap id="BaseResultMap" type="com.pan.model.entitys.system.SRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="descrition" property="descrition" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_name, descrition, create_time
  </sql>


  <sql id="varSql">
    <where>
      <if test="roleName!=null and roleName!=''">and role_name = #{roleName} </if>
      <!--<if test="statusString!=null and statusString!=''">and status in (${statusString}) </if>
      <if test="startTime!=null and startTime!=''"> and create_time >= #{startTime} </if>
      <if test="payStartTime!=null and payStartTime!=''"> and payment_time >= #{payStartTime} </if>
      <if test="date!=null and date!=''"> and DATE_FORMAT(payment_time,'%Y-%m-%d') = #{date} </if>
      <if test="endTime!=null and endTime!=''"><![CDATA[ and create_time <= #{endTime} ]]></if>
      <if test="payEndTime!=null and payEndTime!=''"><![CDATA[ and payment_time <= #{payEndTime} ]]></if>-->
    </where>
  </sql>

  <sql id="limitVarSql">
    <if test="pageNo!=null and pageSize != null"> limit ${pageNo * pageSize},${pageSize} </if>
  </sql>

  <select id="getRoleList" resultMap="BaseResultMap" parameterType="com.pan.model.entitys.system.SRole" >
    select
    <include refid="Base_Column_List" />
    from s_role
    <include refid="varSql" />
    order by id desc
    <include refid="limitVarSql" />
  </select>

  <select id="getRoleListCount" resultType="java.lang.Integer" parameterType="com.pan.model.entitys.system.SRole" >
    select count(1)
    from s_role
    <include refid="varSql" />
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from s_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pan.model.entitys.system.SRole" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_role (role_name, descrition, create_time
    )
    values (#{roleName,jdbcType=VARCHAR}, #{descrition,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.pan.model.entitys.system.SRole" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="descrition != null" >
        descrition,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="descrition != null" >
        #{descrition,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.model.entitys.system.SRole" >
    update s_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="descrition != null" >
        descrition = #{descrition,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pan.model.entitys.system.SRole" >
    update s_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      descrition = #{descrition,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>